<%= form_tag login_path do %>
  <%= hidden_field_tag 'redirect_to', redirect_to if redirect_to %>
  <fieldset>
    <legend><%= t('.please_login') %></legend>

    <div>
      <label for="name"><%= t('.name') %>:</label>
      <%= text_field_tag :name, params[:name] %>
    </div>

    <div>
      <label for="password"><%= t('.password') %>:</label>
      <%= password_field_tag :password, params[:password] %>
    </div>

    <div class="actions">
      <%= submit_tag t('.login'), :id => 'login-btn' %> <%= t('.or') %> <%= link_to t('.register'), register_path %>
    </div>
  </fieldset>
<% end %>