<%= form_for(@contact_message) do |f| %>
  <% if @contact_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t('contact_messages.new.errors.template.header', :count => @contact_message.errors.size) %></h2>

      <ul>
      <% @contact_message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset class="contact">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>
  <div>
    <%= show_simple_captcha(:object=>"contact_message") %>
  </div>
  <div class="actions">
    <%= f.submit t('.send-contact'), :id => 'contact-btn' %>
  </div>
  </fieldset>
<% end %>
