<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t('users.new.errors.template.header', :count => @user.errors.size) %></h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset class="register">
  <!--legend>Registration</legend-->
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <% if @current_user && @current_user.admin? %>
    <div class="field">
      <%= f.label :admin %>
      <%= f.check_box :admin %>
    </div>
  <% end %>
  <div class="field">
    <%= show_simple_captcha(:object=>"user") %>
  </div>
  <div class="actions">
    <%= f.submit t('.register-btn'), :id => 'register-btn'%>
  </div>
  </fieldset>
<% end %>
