<h1>Listing posts</h1>
<div class="post-filter">
  <%= form_tag admin_posts_path, :method => 'get' do %>
    Kategóriák:
    <%= select_tag "category_filter", options_for_select(Post::CATEGORIES, params[:category_filter]), :prompt => "Mind" %>
    Publikáltak:
    <%= check_box_tag 'published_only', '1',  params[:published_only] == '1' %>
    <%= submit_tag "OK", :name => nil, :id => 'filter-submit' %>
  <% end %>
</div>

<div id="post-list">
    <% @posts.each do |post| %>
        <div class="admin-post">
            <div class="header">
                <span class="title"><%= post.title %></span>
                <span class="category">(<%= post.category %>)</span>
                <%= publish_label(post.published) do %> 
                    <%= post.published ? "publikált" : "nem publikált" %>
                <% end %>
            </div>
            <div class="summary">
                <%= post.summary.html_safe %>
            </div>
            <div class="buttons">
            <%= link_to 'Show', slug_path(post) %> |
            <%= link_to 'Edit', edit_admin_post_path(post) %> |
            <%= link_to 'Destroy', [:admin, post], confirm: 'Biztosan törlöd?', method: :delete %>
            </div>
        </div>
    <% end %>
</div>
<br />

<%= link_to 'New Post', new_admin_post_path %>
<%= page_entries_info @posts %>
<%= will_paginate @posts %>
