<div class="post">
  <h2 class="title"><%= link_to post.title, post %></h2>
  <p class="meta"><span class="date"><%= post.publish_date %></span><span class="posted">Posted by <a href="#"><%= post.author.name %></a></span></p>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
    <%= post.summary.html_safe %>
    <p class="links"><%= link_to 'Tovább', post %>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p>
  </div>
</div>