<div class="post">
  <h2 class="title"><%= link_to @post.title, slug_path(@post) %></h2>
  <p class="meta"><span class="date"><%= l(@post.publish_date, :format => :long) %></span><span class="posted">Posted by <a href="#"><%= @post.author.name %></a></span></p>
  <%= link_to 'Szerkesztés', edit_admin_post_path(@post), :class => "admin-edit" if @current_user && @current_user.admin? %>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
    <p><strong><%= @post.summary.html_safe %></strong></p>
    <p><%= @post.content.html_safe %></p>
  </div>
</div>
<a id="comments"></a>
<% if @post.comments_allowed? %>
  <div class="comment-box">
    <p>Hozzászólások</p>
    <ol class="comment-list">
      <% @post.comments.each do |comment| %>
        <li<%=raw cycle(' class="alt"', '') %> id="comment-<%= comment.id %>">
          <% if params[:edit_comment] && params[:edit_comment].to_i == comment.id %>
            <%= render :partial => 'comments/form' %>
          <% else %>
            <%= render comment %>
          <% end %>
        </li>
      <% end %>
    </ol>
    <% if @current_user %>
      <%= render :partial => 'comments/form' unless params[:edit_comment] %>
    <% else %>
      A kommenteléshez be kell <%= link_to 'jelentkezned', login_path(:redirect_to => slug_path(@post)) %>!
    <% end %>
  </div>
<% end %>

<%= link_to 'Back', page_path %>
