<div class="post">
  <h2 class="title"><%= link_to @post.title, @post %></h2>
  <p class="meta"><span class="date"><%= @post.publish_date %></span><span class="posted">Posted by <a href="#"><%= @post.author.name %></a></span></p>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
    <p><strong><%= @post.summary %></strong></p>
    <p><%= @post.content.html_safe %></p>
  </div>
</div>
<a id="comments"></a>
<% if @post.comments_allowed? %>
  <div class="comment">
    <p>Hozzászólások</p>
    <ol class="commentlist">
      <% @post.comments.each do |comment| %>
        <li<%=raw cycle(' class="alt"', '') %> id="comment-<%= comment.id %>">
          <%= render comment %>
        </li>
      <% end %>
    </ol>
    <% if @current_user %>
      <%= form_for([@post, @comment]) do |f| %>
        <div>
          <div class="field">
            <%= f.text_area :content %>
          </div>
          <p><%= submit_tag "Add Comment" %></p>
        </div>
      <% end %>
    <% else %>
      A kommenteléshez be kell <%= link_to 'jelentkezned', login_path %>!
    <% end %>
  </div>
<% end %>

<%= link_to 'Back', posts_path %>
