<% # coding: utf-8 %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="description" content="IT Menedzsment beadandó - Hercegkút honlapja" />
    <meta name="keywords" content="itm,hercegkút,honlap,település,ismertető" />
    <meta name="author" content="Deák Marianna" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <title>Itm - <%= controller.controller_name %>/<%= controller.action_name %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <% if controller.controller_path == 'admin/posts' %>
      <script type="text/javascript" src="/tinymce/jscripts/tiny_mce/tiny_mce.js" ></script>
      <script type="text/javascript">
        startTinyMCE();
      </script>
    <% end %>
    <%= csrf_meta_tags %>
    <%= auto_discovery_link_tag(:rss, {:controller => "/feed", :action => "rss", :format => "xml"}) %>
  </head>
  <body>

    <div id="wrapper">
      <div id="menu">
        <ul>
          <li class="current_page_item"><%= link_to 'Home', root_path %></li>
          <li><a href="http://it-menedzsment.blog.hu">Blog</a></li>
          <li><a href="#">Photos</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Links</a></li>
          <li><a href="#">Contact</a></li>
          <% if @current_user && @current_user.admin? %>
            <li class="admin"><%= link_to 'Admin', admin_root_path %></li>
          <% end %>
        </ul>
      </div>
      <!-- end #menu -->
      <div id="header">
        <div id="logo">
          <h1><a href="/">Hercegkút</a></h1>
          <p>itm beadandó rulez</p>
        </div>
      </div>
      <!-- end #header -->
      <div id="page">
        <div id="page-bgtop">
          <div id="page-bgbtm">
            <div id="content">
              <%= yield %>
            </div>


            <div id="sidebar">
              <ul>
                <li>
                  <div id="search" >
                    <%= form_tag search_index_path, :method => 'get' do %>
                      <div>
                        <%= text_field_tag :search, params[:search], :id => 'search-text'%>
                        <%= submit_tag "GO", :name => nil, :id => 'search-submit' %>
                      </div>
                    <% end %>
                  </div>
                  <div style="clear: both;">&nbsp;</div>
                </li>
                <li>
                  <h2>Login</h2>
                  <p id="alert"><%= alert %></p>
                  <div id="login-box">
                    <% if @current_user %>
                      Welcome back, <%= @current_user.name %>!<br/>
                      <%= button_to 'Logout', logout_path, :method => :delete %>
                    <% else %>
                      <%= form_tag login_path do %>
                        <fieldset>
                          <legend>Please log in</legend>

                          <div>
                            <label for="name">Name:</label>
                            <%= text_field_tag :name, params[:name] %>
                          </div>

                          <div>
                            <label for="password">Password:</label>
                            <%= password_field_tag :password, params[:password] %>
                          </div>

                          <div>
                            <%= submit_tag 'Login' %> or <%= link_to 'Register', register_path %>
                          </div>
                        </fieldset>
                      <% end %>
                    <% end %>
                  </div>
                </li>
                <li id="calendar">
                </li>
                <li>
                  <h2>Kategóriák</h2>
                  <ul>
                    <% Post::CATEGORIES.each do |category| %>
                      <li><%= link_to category, page_path(:category => category) %></li>
                    <% end %>
                  </ul>
                </li>
                <li>
                  <h2>Blogroll</h2>
                  <ul>
                    <li><a href="#">Aliquam libero</a></li>
                    <li><a href="#">Consectetuer adipiscing elit</a></li>
                    <li><a href="#">Metus aliquam pellentesque</a></li>
                    <li><a href="#">Suspendisse iaculis mauris</a></li>
                    <li><a href="#">Urnanet non molestie semper</a></li>
                    <li><a href="#">Proin gravida orci porttitor</a></li>
                  </ul>
                </li>
                <li>
                  <h2>Archives</h2>
                  <ul>
                    <li><a href="#">Aliquam libero</a></li>
                    <li><a href="#">Consectetuer adipiscing elit</a></li>
                    <li><a href="#">Metus aliquam pellentesque</a></li>
                    <li><a href="#">Suspendisse iaculis mauris</a></li>
                    <li><a href="#">Urnanet non molestie semper</a></li>
                    <li><a href="#">Proin gravida orci porttitor</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- end #sidebar -->
            <div style="clear: both;">&nbsp;</div>
          </div>
        </div>
      </div>
      <!-- end #page -->
    </div>
    <div id="footer">
      <p>Copyright (c) 2011 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
      <% if @current_user %>
        <p style="font-size: smaller">Current: <%= link_to  @current_user.name, @current_user %></p>
      <% end %>
      <a href="http://feedvalidator.org/check.cgi?url=<%= feed_rss_url(:format => :xml) %>">
        <%= image_tag "valid-rss-rogers.png", :alt => "[Valid RSS]", :title => "Validate my RSS feed" %>
      </a>
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
            src="http://jigsaw.w3.org/css-validator/images/vcss"
            alt="Érvényes CSS!" />
    </a>

    </div>
    <!-- end #footer -->
    <script type="text/javascript" >
      $(document).ready(function () {
        $("#calendar").html("<applet code = 'CalendarApplet' archive = '/itm-calendar.jar' width = '276' />");
      });
    </script>
  </body>
</html>
